@{
    ViewBag.Title = "Bordro!";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Hesap kitapların uygulaması</h2>
        </hgroup>
        <p>
            Bordro uygulamasına hoşgeldiniz.
        </p>
    </div>
</section>
}

<h3>Aşağıdakilerden birini seçin:</h3>

<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Şirketler", "Index", "Company")</h5>
        Burada şirketleri yönetebilirsiniz. Şirketlerin <em>Muhasebe bilgileri</em> ve <em>Şube ve depolarının</em> yerleri buradan tanımlanmakta ve yönetilmektedir.
    </li>
    <li class="two">
        <h5>@Html.ActionLink("Elemanlar", "Index", "Employee")</h5>
        Çalışanları buradan yönetebilirsiniz. Özlük bilgileri ve raporlara buradan ulaşırsınız.
    </li>
    <li class="three">
        <h5>@Html.ActionLink("Araçlar", "Index", "Vehicle")</h5>
        Araçları buradan yönetebilirsiniz. 
    </li>
</ol>

<h2>@Html.ActionLink("İş emirleri", "Index", "WorkRequest")</h2>
Şrketlerle yapılan işleri buradan yönetirsiniz.
</section>