@{
    ViewBag.Title = "Bordro!";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Hesap kitaplarýn uygulamasý</h2>
        </hgroup>
        <p>
            Bordro uygulamasýna hoþgeldiniz.
        </p>
    </div>
</section>
}

<h3>Aþaðýdakilerden birini seçin:</h3>

<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Þirketler", "Index", "Company")</h5>
        Burada þirketleri yönetebilirsiniz. Þirketlerin <em>Muhasebe bilgileri</em> ve <em>Þube ve depolarýnýn</em> yerleri buradan tanýmlanmakta ve yönetilmektedir.
    </li>
    <li class="two">
        <h5>@Html.ActionLink("Elemanlar", "Index", "Employee")</h5>
        Çalýþanlarý buradan yönetebilirsiniz. Özlük bilgileri ve raporlara buradan ulaþýrsýnýz.
    </li>
    <li class="three">
        <h5>@Html.ActionLink("Araçlar", "Index", "Vehicle")</h5>
        Araçlarý buradan yönetebilirsiniz. 
    </li>
</ol>

<h2>@Html.ActionLink("Ýþ emirleri", "Index", "WorkRequest")</h2>
Þrketlerle yapýlan iþleri buradan yönetirsiniz.
</section>